@import './color.scss';

* {
  box-sizing: border-box;
  // touch-action: none;
}

html {
  // font-size: 15px;
  // -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
}

body {
  font-family: 'Helvetica', 'Helvetica Neue', 'Verdana', 'sans-serif', 'Arial', 'Ubuntu', 'PingFang SC', 'Microsoft YaHei';
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

::selection {
  background-color: $sred;
  color: $fff;
}
