$size12: 12px;
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size17: 17px;
$size18: 18px;
$size19: 19px;
$size20: 20px;
$size21: 21px;
$size22: 22px;
$size23: 23px;
$size24: 24px;
$size25: 25px;
$size26: 26px;
$size27: 27px;
$size28: 28px;
$size29: 29px;
$size30: 30px;

$h20: 20px;
$h30: 30px;
$h40: 40px;
$h44: 44px;
$h50: 50px;
$h60: 60px;
$h70: 70px;
$h80: 80px;
$h90: 90px;
$h100: 100px;

$height50: 50%;
$height100: 100%;
$width50: 50%;
$width100: 100%;

.size12 { font-size: $size12; }
.size13 { font-size: $size13; }
.size14 { font-size: $size14; }
.size15 { font-size: $size15; }
.size16 { font-size: $size16; }
.size17 { font-size: $size17; }
.size18 { font-size: $size18; }
.size19 { font-size: $size19; }
.size20 { font-size: $size20; }
.size21 { font-size: $size21; }
.size22 { font-size: $size22; }
.size23 { font-size: $size23; }
.size24 { font-size: $size24; }
.size25 { font-size: $size25; }
.size26 { font-size: $size26; }
.size27 { font-size: $size27; }
.size28 { font-size: $size28; }
.size29 { font-size: $size29; }
.size30 { font-size: $size30; }

.h20 { height: $h20; }
.h30 { height: $h30; }
.h40 { height: $h40; }
.h44 { height: $h44; }
.h50 { height: $h50; }
.h60 { height: $h60; }
.h70 { height: $h70; }
.h80 { height: $h80; }
.h90 { height: $h90; }
.h100 { height: $h100; }

.height50 { width: $height50; }
.height100 { width: $height100; }
.width50 { width: $width50; }
.width100 { width: $width100; }
