$rem06: 0.6rem;
$rem07: 0.7rem;
$rem08: 0.8rem;
$rem09: 0.9rem;
$rem10: 1.0rem;
$rem11: 1.1rem;
$rem12: 1.2rem;
$rem13: 1.3rem;
$rem14: 1.4rem;
$rem15: 1.5rem;
$rem16: 1.6rem;
$rem17: 1.7rem;
$rem18: 1.8rem;
$rem19: 1.9rem;
$rem20: 2.0rem;

$rem30: 3rem;
$rem40: 4rem;
$rem50: 5rem;
$rem60: 6rem;
$rem70: 7rem;
$rem80: 8rem;
$rem90: 9rem;
$rem100: 10rem;

.rem06 { font-size: 0.6rem; }
.rem07 { font-size: 0.7rem; }
.rem08 { font-size: 0.8rem; }
.rem09 { font-size: 0.9rem; }
.rem10 { font-size: 1.0rem; }
.rem11 { font-size: 1.1rem; }
.rem12 { font-size: 1.2rem; }
.rem13 { font-size: 1.3rem; }
.rem14 { font-size: 1.4rem; }
.rem15 { font-size: 1.5rem; }
.rem16 { font-size: 1.6rem; }
.rem17 { font-size: 1.7rem; }
.rem18 { font-size: 1.8rem; }
.rem19 { font-size: 1.9rem; }
.rem20 { font-size: 2.0rem; }
.rem30 { font-size: 3.0rem; }
.rem40 { font-size: 4.0rem; }
.rem50 { font-size: 5.0rem; }
.rem60 { font-size: 6.0rem; }
.rem70 { font-size: 7.0rem; }

.height50 { height: 50%; }
.height100 { height: 100%; }
.width50 { width: 50%; }
.width100 { width: 100%; }
